<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="asset/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- full interface -->
        <section id="interface-background">
            <div id="interface">
                <!-- left-side-profile -->
                <div id="profile-list">
                    <!-- profile info -->
                    <div id="profile-info">
                        <div id="profile-info-logo">
                            <img class="img-cont" src="asset/img/avatar_io.jpg" alt="my avatar">
                            <span class="name">margherita</span>
                        </div>
                        <div id="profile-info-icon">
                            <i class="fa-solid fa-circle icon"></i>
                            <i class="fa-solid fa-message icon"></i>
                            <i class="fa-solid fa-ellipsis-vertical icon"></i>
                        </div>
                    </div>
                    <!-- profile notification -->
                    <div id="profile-notification">
                        <span class="notification-icon-cont flex-central">
                            <i class="fa-solid fa-bell-slash n-icon"></i>
                        </span>
                        <span class="notification-txt-cont">
                            <span class="name">Ricevi nontifiche di nuovi messaggi</span>
                            <a href="#">Attiva notifiche dekstop</a>
                        </span>
                    </div>
                    <!-- profile search -->
                    <div class="flex-central" id="profile-search">
                        <span class="search-btn flex-central"><i class="fa-solid fa-message icon"></i></span>
                        <input v-model="namefilter" class="search-bar" type="text" placeholder="cerca o inizia una chat">
                    </div>
                    <!-- profile friend -->
                    <div id="profile-friend">
                        <div class="profile-box" :class="[( element.name.includes(namefilter) ? '' : 'none'), ( selectedchat == index ? 'active' : '')]" v-for="(element, index) in contacts" :key ="index" @click="selectchat(index)">
                            <div class="flex-al">
                                <img class="img-cont" :src="element.avatar" alt="my avatar">
                                <div>
                                    <span class="name">{{element.name}}</span>
                                    <span class="last-msg">{{ element.messages[element.messages.length - 1].message }}</span>
                                </div>
                            </div>
                            <span class="last-lg-time">12:00</span>
                        </div>

                    </div>

                </div>
                <!-- right-side-chat -->
                <div id="chat-window">
                    <!-- chat info -->
                    <div id="chat-info">
                        <div id="profile-info-logo">
                            <img class="img-cont" :src="contacts[selectedchat].avatar" alt="my avatar">
                            <span class="name">{{contacts[selectedchat].name}}</span>
                        </div>
                        <div id="profile-info-icon">
                            <i class="fa-solid fa-circle icon"></i>
                            <i class="fa-solid fa-message icon"></i>
                            <i class="fa-solid fa-ellipsis-vertical icon"></i>
                        </div>
                    </div>
                    <!-- chat screen -->
                    <div id="chat-screen">
                        <div v-for="(element, index) in contacts[selectedchat].messages" :key ="index">
                            <div :class="element.status">
                                <span :class="element.status2">{{element.message}}</span>
                                <span :class="element.status3">{{element.date.split(' ')[1].split(':').slice(0, 2).join(':')}}</span>
                                <span class="msg-menu-btn" @click="msgmenuvschange(index, element)"><i class="fa-light fa-chevron-down"></i></span>
                            </div>
                            <div :class="element.status">
                                <div :class="(index == selectedmsg ? msgvisstat : '')" class="msg-menu none">
                                    <span @click="deletemsg()">delete message</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chat input -->
                    <div id="chat-input">
                        <div class="flex-central icon-cont"><i class="fa-solid fa-message icon"></i></div>
                        <div class="flex-central chat-input-txt-box"><input v-model="chatinput" @keyup.enter="postchatinput()" class="chat-input-txt" type="text" placeholder="inizia una chat"></div>
                        <div class="flex-central icon-cont"><i class="fa-solid fa-message icon"></i></div>
                    </div>

                </div>

            </div>

        </section>

    </div> 
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
</body>
</html>