*{
    margin: 0;
    border: 0
}

a{
    color: darkgray;
    font-size: smaller;
}

#interface-background{
    height: 100vh;
    background: rgb(193,192,192);
    background: linear-gradient(0deg, rgba(193,192,192,1) 80%, rgba(78,144,119,1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#interface{
    height: 80vh;
    width: 80%;
    display: flex;
}

#profile-list{
    width: 40%;
    height: 100%;
}

#chat-window{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat-info{
   background-color: lightgrey;
   height: 10%;
   display: flex;
   justify-content: space-between;
}

#chat-screen{
    height: 80%;
    background-image: url(img/mine.jpg);
    overflow: scroll;
    overflow-x: hidden;
}

#chat-input{
    background-color: lightgrey;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

#profile-info{
    border-right: 1px solid grey;
    height: 10%;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}

#profile-notification{
    background-color: lightskyblue;
    height: 12%;
    display: flex;
    align-items: center;

}

#profile-search{
    height: 7%;
    background-color: lightgrey;
}

#profile-friend{
    height: 71%;
    overflow: scroll;
    background-color: white;
    overflow-x: hidden;
}

#profile-info-logo{
    height: 100%;
    display: flex;
    align-items: center;
}

#profile-info-icon{
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-central{
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.inline-b{
    display: inline-block;
}

.flex-al{
    display: flex!important;
    align-items: center;
}

.img-cont{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-left: 15px;
}

.name{
    margin-left: 10px;
    font-size: small;
    color: black;
    font-weight: 600;
}

.icon{
    color: rgb(76, 76, 76);
}

.n-icon{
    color: lightskyblue;
}

.notification-icon-cont{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-left: 20px;
    background-color: white;   
}

.notification-txt-cont{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.search-btn{
    border: 1px solid grey;
    background-color: whitesmoke;
    height: 60%;
    width: 15%;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
}

.search-bar{
    border: 1px solid grey;
    background-color: whitesmoke;
    height: 56%;
    width: 75%;
    border-radius: 0px 5px 5px 0px;
}

.profile-box{
    background-color: white;
    width: 100%;
    height: 15%;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-msg{
    display: block;
    color: grey;
    margin-left: 10px;
    font-size: 10px;
}

.last-lg-time{
    margin-right: 10px;
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding-top: 10px;
    color: grey;
}

.icon-cont{
    width: 10%;
}

.chat-input-txt-box{
    width: 70%;
}

.chat-input-txt{
    background-color: whitesmoke;
    height: 50%;
    width: 100%;
    border-radius: 5px;
}

.sent{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-right: 50px;
}

.sent-txt{
    background-color: green;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}

.sent-time{
    background-color: green;
    color: lightgrey;
    font-size: 10px;
    border-radius: 0px 10px 10px 0px;
    padding-left: 58px;
    display: flex;
    align-items: end;
    padding-right: 5px;
    padding-bottom: 5px;
}

.received{
    display: flex;
    justify-content: start;
    margin-top: 20px;
    padding-left: 50px;
}

.received-txt{
    background-color: white;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}

.received-time{
    background-color: white;
    color: grey;
    font-size: 10px;
    border-radius: 0px 10px 10px 0px;
    padding-left: 58px;
    display: flex;
    align-items: end;
    padding-right: 5px;
    padding-bottom: 5px;
}

.none{
    display: none;
}

.active{
    background-color: lightblue;
}

.msg-menu-btn{
    position: relative;
    right: 2%;
}

.msg-menu-cont{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-right: 50px;
}

.msg-menu{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.visible{
    display: block!important;
}